<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <base href="https://capitalhumain.github.io/inpixio-mobile-lp/" />
    <title>Mobile Inpixio</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="shortcut icon" href="https://capitalhumain.github.io/inpixio-mobile-lp/assets/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://capitalhumain.github.io/inpixio-mobile-lp/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="https://capitalhumain.github.io/inpixio-mobile-lp/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="https://capitalhumain.github.io/inpixio-mobile-lp/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="https://capitalhumain.github.io/inpixio-mobile-lp/demo.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://capitalhumain.github.io/inpixio-mobile-lp/js/mobile-angular-ui.min.js"></script>
    <!-- Required to use $touch, $swipe, $drag and $translate services -->
    <script src="https://capitalhumain.github.io/inpixio-mobile-lp/js/mobile-angular-ui.gestures.min.js"></script>

    <script src="https://capitalhumain.github.io/inpixio-mobile-lp/demo.js"></script>
  </head>

  <body
    ng-app="MobileAngularUiExamples"
    ng-controller="MainController"
    ui-prevent-touchmove-defaults
    >



<!-- Sidebars-->
    <div class="app" >

      <!-- Navbars -->

      <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
          Photo Clip<br>
          For Windows & Mac

        </div>
        <div class="btn-group pull-left">

        </div>
        <div class="btn-group pull-right" ui-yield-to="navbarAction">

        </div>
      </div>

      <div class="navbar navbar-app navbar-absolute-bottom">
        <div class="btn-group justified">
          <span ng-if="path ==='/carousel'" class="animate-if">
              <a href="#/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> Back</a>
        </span>
        <span ng-if="path ==='/'" class="animate-if">
              <a href="#/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> Photo Clip</a>
        </span>
        </div>
      </div>

      <!-- App Body -->
      <div class="app-body" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content">
          <ng-view></ng-view>
        </div>
      </div>

    </div><!-- ~ .app -->

    <div ui-yield-to="modals"></div>
  </body>
</html>
